In [1]:
import pandas as pd
import numpy as np

In [7]:
csv_info = pd.read_csv('/Users/chosunghyun/Desktop/kakaobankdata1.csv')
csv_info.head(15)

                 거래일시\t  구분    거래금액  거래 후 잔액   이름
0   2021.02.28 15:41:36  입금  30,000   30,000  류지원
1   2021.02.28 16:40:00  입금  20,000   50,000  장예림
2   2021.03.01 12:20:32  입금  30,000   80,000  김태현
3   2021.03.01 17:36:07  입금  20,000  100,000  조성현
4   2021.03.01 17:36:18  입금  20,000  120,000  반정민
5   2021.03.02 01:25:00  입금  20,000  140,000  유현주
6   2021.03.02 09:13:06  입금  20,000  160,000  남서현
7   2021.03.02 10:03:24  입금  20,000  180,000  정서원
8   2021.03.02 12:33:25  입금  20,000  200,000  유동혁
9   2021.03.02 12:47:26  입금  20,000  220,000  손승혜
10  2021.03.02 13:25:33  입금  30,000  250,000  김규동
11  2021.03.02 13:26:03  입금  20,000  270,000  조상현
12  2021.03.02 15:30:03  입금  30,000  300,000  김유진
13  2021.03.02 15:30:44  입금  20,000  320,000  서유리
14  2021.03.03 11:08:50  입금  30,000  350,000  전정현

In [8]:
df = csv_info

In [10]:
df['이름' == '후불교통대금','서울택시_개인영세_','이채영']

KeyError: (False, '서울택시_개인영세_', '이채영')