In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

건강 평가 및 1 차 진료와의 연계 (Health Evaluation and Linkage to Primary Care)에 대한 임상 연구자료 발췌한 자료
−	연구목적: 건강 관련 여러가지 평가와 행동학적 동기부여 방법을 약물복용치료 프로그램 1 차 진료(일반치료)와 연계하고자 함 
−	대상자: (주치의가 없는) 알코올, 헤로인 또는 코카인 등의 약물복용자로, 클리닉 근처 거주자 혹은 노숙자 
−	무작위배정: 대상 환자들은 일반치료 (usual care)를 받거나 아니면 일반치료 외 추가적 간병 (HELP clinic)를 받게 됨  
−	연구기간: 피험자들은 약물치료 체류 기간 동안 기저시점(baseline)에서 인터뷰하고 추적조사(follow-up)를 하였다. 인터뷰는 2 년 동안 6 개월마다 실시되었다. 
−	자료설명: Table 1 
−	자료 결과는 크게 SF-36 Mental Component Score 부분과 Center for Epidemiologic Studies Depression scale (CESD) 결과로 나뉠 수 있다.

1.	HELP.CSV 를 SF-36 (R) 과 CESD (SAS) 로 불러들이는 프로그래밍을 해주세요. 결과 외 변수들은 공통된 변수들로 간주하여 두 프로그램에 공통으로 존재하게 두십시오

In [2]:
help_data=pd.read_csv('/Users/chosunghyun/Desktop/Python.proj/DataScience_code/statics/help.csv')

In [3]:
#원본 데이터 파악
help_data.head()

,id,pcs1,mcs1,cesd1,pcs2,mcs2,cesd2,pcs3,mcs3,cesd3,...,f1s,f1t,age,treat,pcs,mcs,cesd,female,substance,racegrp
0,1,54.225826,52.234798,7.0,NaN,NaN,NaN,52.061062,56.060101,8.0,...,3,2,37,1,58.413689,25.111990,49,0,cocaine,black
1,2,59.560657,41.726955,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,37,1,36.036942,26.670307,30,0,alcohol,white
2,3,58.457771,56.771305,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,26,0,74.806328,6.762923,39,0,heroin,black
3,4,46.609879,14.659246,44.0,57.560917,23.913162,NaN,NaN,NaN,NaN,...,0,1,39,0,61.931679,43.967880,15,1,heroin,white
4,5,31.416422,40.674210,26.0,44.833405,42.444687,27.0,25.026251,50.934769,15.0,...,3,3,32,0,37.345585,21.675755,39,0,cocaine,black

In [4]:
ds= help_data.copy()

In [5]:
ds.head()

,id,pcs1,mcs1,cesd1,pcs2,mcs2,cesd2,pcs3,mcs3,cesd3,...,f1s,f1t,age,treat,pcs,mcs,cesd,female,substance,racegrp
0,1,54.225826,52.234798,7.0,NaN,NaN,NaN,52.061062,56.060101,8.0,...,3,2,37,1,58.413689,25.111990,49,0,cocaine,black
1,2,59.560657,41.726955,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,37,1,36.036942,26.670307,30,0,alcohol,white
2,3,58.457771,56.771305,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,26,0,74.806328,6.762923,39,0,heroin,black
3,4,46.609879,14.659246,44.0,57.560917,23.913162,NaN,NaN,NaN,NaN,...,0,1,39,0,61.931679,43.967880,15,1,heroin,white
4,5,31.416422,40.674210,26.0,44.833405,42.444687,27.0,25.026251,50.934769,15.0,...,3,3,32,0,37.345585,21.675755,39,0,cocaine,black

In [6]:
type(ds)

pandas.core.frame.DataFrame

In [7]:
ds.values

array([[1, 54.22582626, 52.23479843, ..., 0, 'cocaine', 'black'],
       [2, 59.5606575, 41.72695541, ..., 0, 'alcohol', 'white'],
       [3, 58.4577713, 56.77130508, ..., 0, 'heroin', 'black'],
       ...,
       [460, nan, nan, ..., 1, 'heroin', 'white'],
       [462, nan, nan, ..., 0, 'cocaine', 'black'],
       [463, nan, nan, ..., 0, 'alcohol', 'white']], dtype=object)

In [8]:
ds.female

0      0
1      0
2      0
3      1
4      0
      ..
448    0
449    0
450    1
451    0
452    0
Name: female, Length: 453, dtype: int64

In [9]:
dataset1 = ds[['female']]

A.	성별(female)에 관련된 분석 시, 결과출력 될 때 0, 1 이 아닌 각각 Male, Female 로 출력을 위해 필요한 프로그래밍을 진행해주세요

In [10]:
dataset1 = dataset1.female.map({0:'male',1:'female'})
dataset1.head()

0      male
1      male
2      male
3    female
4      male
Name: female, dtype: object

In [11]:
dataset=pd.DataFrame(dataset1)

In [12]:
type(dataset)
dataset

     female
0      male
1      male
2      male
3    female
4      male
..      ...
448    male
449    male
450  female
451    male
452    male

[453 rows x 1 columns]

B.	CESD에 대한 세부 문항 결과인 f1a-f1t의 결과값을 0-3 이 아닌, Table 1 아래 # 주석의 설명이 출력이 되게끔 프로그래밍 하세요
#: For each of the 20 items in HELP section F1 (CESD), respondents were asked to indicate how often they behaved this way during the past week
 (0 = rarely or none of the time, less than 1 day;
 1 = some or a little of the time, 1 or 2 days;
 2 = occasionally or a moderate amount of time, 3 or4 days; 
 3 = most or all of the time, 5{7 days); 
items f1d, f1h, f1l, and f1p were reverse coded.

In [69]:
# dataset에 데이터 삽입 
i=1
for j in list('abcdefghijklmnopqrst'):
    col_name = 'f'+str(i)+j
    dataset[col_name] = ds[col_name].apply(lambda x:x)

In [187]:
"""
dataset['fla']=ds.f1a.apply(lambda x:x)
dataset['flb']=ds.f1b.apply(lambda x:x)
dataset['flc']=ds.f1c.apply(lambda x:x)
dataset['fld']=ds.f1d.apply(lambda x:x)
"""

In [70]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   female   453 non-null    object
 1   f1a      453 non-null    int64
 2   f1b      453 non-null    int64
 3   f1c      453 non-null    int64
 4   f1d      453 non-null    int64
 5   f1e      453 non-null    int64
 6   f1f      453 non-null    int64
 7   f1g      452 non-null    float64
 8   f1h      453 non-null    int64
 9   f1i      453 non-null    int64
 10  f1j      451 non-null    float64
 11  f1k      453 non-null    int64
 12  f1l      453 non-null    int64
 13  f1m      452 non-null    float64
 14  f1n      452 non-null    float64
 15  f1o      453 non-null    int64
 16  f1p      452 non-null    float64
 17  f1q      452 non-null    float64
 18  f1r      453 non-null    int64
 19  f1s      453 non-null    int64
 20  f1t      453 non-null    int64
 21  id       453 non-null    int64
 22  treat    453 non-null    int64
 23  age      453 non-null    int64
 24  racegrp  453 non-null    object
dtypes: float64(6), int64(17), object(2)
memory usage: 88.6+ KB

In [211]:
"""
import string
al = list(string.ascii_lowercase)


i = 0
a = [0]
while i < 100 :
    a.append(i+1)
    i += 1

for x in a :
    for y in al:
        if x == 1:
            print('f'+str(x)+y)
"""

"\nimport string\nal = list(string.ascii_lowercase)\n\n\ni = 0\na = [0]\nwhile i < 100 :\n    a.append(i+1)\n    i += 1\n\nfor x in a :\n    for y in al:\n        if x == 1:\n            print('f'+str(x)+y)\n"

In [71]:
dataset

,female,f1a,f1b,f1c,f1d,f1e,f1f,f1g,f1h,f1i,...,f1o,f1p,f1q,f1r,f1s,f1t,id,treat,age,racegrp
0,male,3,2,3,0,2,3,3.0,0,2,...,2,2.0,2.0,3,3,2,1,1,37,black
1,male,3,2,0,3,3,2,0.0,0,3,...,0,0.0,0.0,2,0,0,2,1,37,white
2,male,3,2,3,0,2,2,1.0,3,2,...,2,0.0,0.0,3,2,0,3,0,26,black
3,female,0,0,1,3,2,2,1.0,3,0,...,0,NaN,2.0,0,0,1,4,0,39,white
4,male,3,0,3,3,3,3,1.0,3,3,...,0,3.0,3.0,3,3,3,5,0,32,black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,male,2,2,1,2,2,2,3.0,2,0,...,1,1.0,0.0,1,2,1,454,1,33,white
449,male,3,3,3,0,3,2,1.0,0,0,...,0,0.0,1.0,1,1,1,455,1,49,white
450,female,2,3,3,3,2,2,0.0,3,1,...,1,3.0,3.0,3,0,3,460,0,39,white
451,male,1,0,2,3,0,0,0.0,3,0,...,0,3.0,0.0,3,0,0,462,0,59,black
452,male,1,3,3,1,1,3,0.0,1,3,...,1,2.0,0.0,1,1,3,463,0,45,white

In [72]:
# CESD에 대한 세부 문항 결과인 f1a-f1t의 결과값인 0-3 정수 혹은 실수형 데이터를  문자형으로 변환 
# loc 을 이용한 열 조건 레이블에 맞는 것들만 변환
index=1
labels=["~1","1or2","2or3","3~"]
for j in list('abcdefghijklmnopqrst'):
    col_name = 'f'+str(index)+j
    for i in range(4):
        dataset.loc[(dataset[col_name]==i),col_name] = labels[i]

In [73]:
dataset

,female,f1a,f1b,f1c,f1d,f1e,f1f,f1g,f1h,f1i,...,f1o,f1p,f1q,f1r,f1s,f1t,id,treat,age,racegrp
0,male,3~,2or3,3~,~1,2or3,3~,3~,~1,2or3,...,2or3,2or3,2or3,3~,3~,2or3,1,1,37,black
1,male,3~,2or3,~1,3~,3~,2or3,~1,~1,3~,...,~1,~1,~1,2or3,~1,~1,2,1,37,white
2,male,3~,2or3,3~,~1,2or3,2or3,1or2,3~,2or3,...,2or3,~1,~1,3~,2or3,~1,3,0,26,black
3,female,~1,~1,1or2,3~,2or3,2or3,1or2,3~,~1,...,~1,NaN,2or3,~1,~1,1or2,4,0,39,white
4,male,3~,~1,3~,3~,3~,3~,1or2,3~,3~,...,~1,3~,3~,3~,3~,3~,5,0,32,black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,male,2or3,2or3,1or2,2or3,2or3,2or3,3~,2or3,~1,...,1or2,1or2,~1,1or2,2or3,1or2,454,1,33,white
449,male,3~,3~,3~,~1,3~,2or3,1or2,~1,~1,...,~1,~1,1or2,1or2,1or2,1or2,455,1,49,white
450,female,2or3,3~,3~,3~,2or3,2or3,~1,3~,1or2,...,1or2,3~,3~,3~,~1,3~,460,0,39,white
451,male,1or2,~1,2or3,3~,~1,~1,~1,3~,~1,...,~1,3~,~1,3~,~1,~1,462,0,59,black
452,male,1or2,3~,3~,1or2,1or2,3~,~1,1or2,3~,...,1or2,2or3,~1,1or2,1or2,3~,463,0,45,white

C.	같은 사람이 중복 입력이 되었는지를 확인하는 작업을 통해 있다면, 몇번(id) 환자들이 중복입력이 되었는지, 같은 사람이 맞는지를 제시하시오. 중복된 자료는 삭제하고 다음 분석을 진행해주세요

In [75]:
  # id 사람  , 데이터 넣기
dataset['id'] = ds['id'].apply(lambda x:x)

In [76]:
dataset

,female,f1a,f1b,f1c,f1d,f1e,f1f,f1g,f1h,f1i,...,f1o,f1p,f1q,f1r,f1s,f1t,id,treat,age,racegrp
0,male,3~,2or3,3~,~1,2or3,3~,3~,~1,2or3,...,2or3,2or3,2or3,3~,3~,2or3,1,1,37,black
1,male,3~,2or3,~1,3~,3~,2or3,~1,~1,3~,...,~1,~1,~1,2or3,~1,~1,2,1,37,white
2,male,3~,2or3,3~,~1,2or3,2or3,1or2,3~,2or3,...,2or3,~1,~1,3~,2or3,~1,3,0,26,black
3,female,~1,~1,1or2,3~,2or3,2or3,1or2,3~,~1,...,~1,NaN,2or3,~1,~1,1or2,4,0,39,white
4,male,3~,~1,3~,3~,3~,3~,1or2,3~,3~,...,~1,3~,3~,3~,3~,3~,5,0,32,black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,male,2or3,2or3,1or2,2or3,2or3,2or3,3~,2or3,~1,...,1or2,1or2,~1,1or2,2or3,1or2,454,1,33,white
449,male,3~,3~,3~,~1,3~,2or3,1or2,~1,~1,...,~1,~1,1or2,1or2,1or2,1or2,455,1,49,white
450,female,2or3,3~,3~,3~,2or3,2or3,~1,3~,1or2,...,1or2,3~,3~,3~,~1,3~,460,0,39,white
451,male,1or2,~1,2or3,3~,~1,~1,~1,3~,~1,...,~1,3~,~1,3~,~1,~1,462,0,59,black
452,male,1or2,3~,3~,1or2,1or2,3~,~1,1or2,3~,...,1or2,2or3,~1,1or2,1or2,3~,463,0,45,white

In [30]:
#공란 체크
dataset['id'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
448    False
449    False
450    False
451    False
452    False
Name: id, Length: 453, dtype: bool

In [48]:
#중복값 따로 추출후 저장
duplicatedatasetdf = dataset[dataset['id'].duplicated()]
duplicatedatasetdf

Empty DataFrame
Columns: [female, f1a, f1b, f1c, f1d, f1e, f1f, f1g, f1h, f1i, f1j, f1k, f1l, f1m, f1n, f1o, f1p, f1q, f1r, f1s, f1t, id]
Index: []

[0 rows x 22 columns]

In [32]:
#중복 체크+유니크한 값 남기고 나머지 제거
dataset['id'].drop_duplicates()

0        1
1        2
2        3
3        4
4        5
      ...
448    454
449    455
450    460
451    462
452    463
Name: id, Length: 453, dtype: int64

D.	연구에 참여한 대상자들의 인구학적 정보들이 무작위배정 그룹 간(treat)에 발란스가 유지되었는지를 확인하기 위해 연령(age), 성별(female), 인종(racegrp) 비교하고자 한다. 이에 대한 프로그래밍 하세요. 비교하고자 하는 측도는 자료의 타입에 맞는 적절한 측도를 선택하여 나타내세요

In [92]:
# data 넣기
dataset['treat'] = ds['treat'].apply(lambda x:x)
dataset['age'] = ds['age'].apply(lambda x:x)
dataset['racegrp'] = ds['racegrp'].apply(lambda x:x)

In [93]:
dataset1 = dataset.copy()
dataset1

,female,f1a,f1b,f1c,f1d,f1e,f1f,f1g,f1h,f1i,...,f1o,f1p,f1q,f1r,f1s,f1t,id,treat,age,racegrp
0,male,3~,2or3,3~,~1,2or3,3~,3~,~1,2or3,...,2or3,2or3,2or3,3~,3~,2or3,1,1,37,black
1,male,3~,2or3,~1,3~,3~,2or3,~1,~1,3~,...,~1,~1,~1,2or3,~1,~1,2,1,37,white
2,male,3~,2or3,3~,~1,2or3,2or3,1or2,3~,2or3,...,2or3,~1,~1,3~,2or3,~1,3,0,26,black
3,female,~1,~1,1or2,3~,2or3,2or3,1or2,3~,~1,...,~1,NaN,2or3,~1,~1,1or2,4,0,39,white
4,male,3~,~1,3~,3~,3~,3~,1or2,3~,3~,...,~1,3~,3~,3~,3~,3~,5,0,32,black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,male,2or3,2or3,1or2,2or3,2or3,2or3,3~,2or3,~1,...,1or2,1or2,~1,1or2,2or3,1or2,454,1,33,white
449,male,3~,3~,3~,~1,3~,2or3,1or2,~1,~1,...,~1,~1,1or2,1or2,1or2,1or2,455,1,49,white
450,female,2or3,3~,3~,3~,2or3,2or3,~1,3~,1or2,...,1or2,3~,3~,3~,~1,3~,460,0,39,white
451,male,1or2,~1,2or3,3~,~1,~1,~1,3~,~1,...,~1,3~,~1,3~,~1,~1,462,0,59,black
452,male,1or2,3~,3~,1or2,1or2,3~,~1,1or2,3~,...,1or2,2or3,~1,1or2,1or2,3~,463,0,45,white

age: 19~ 60 

racegrp: black,white,hispanic,other  

treat 1 or 0 >  기준

분포 파악.

In [94]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   female   453 non-null    object
 1   f1a      453 non-null    object
 2   f1b      453 non-null    object
 3   f1c      453 non-null    object
 4   f1d      453 non-null    object
 5   f1e      453 non-null    object
 6   f1f      453 non-null    object
 7   f1g      452 non-null    object
 8   f1h      453 non-null    object
 9   f1i      453 non-null    object
 10  f1j      451 non-null    object
 11  f1k      453 non-null    object
 12  f1l      453 non-null    object
 13  f1m      452 non-null    object
 14  f1n      452 non-null    object
 15  f1o      453 non-null    object
 16  f1p      452 non-null    object
 17  f1q      452 non-null    object
 18  f1r      453 non-null    object
 19  f1s      453 non-null    object
 20  f1t      453 non-null    object
 21  id       453 non-null    int64
 22  treat    453 non-null    int64
 23  age      453 non-null    int64
 24  racegrp  453 non-null    object
dtypes: int64(3), object(22)
memory usage: 88.6+ KB

In [95]:
#treat 을 기준으로 각각 만족 하는 age 와 racegrp를 같이 호출하여 적제 
dataset_t0 = dataset1.loc[(dataset1['treat'] == 0) & (dataset1['age']) &(dataset1['racegrp']),['treat','age','racegrp']] 
dataset_t0

     treat  age   racegrp
3        0   39     white
6        0   49     black
16       0   35     black
17       0   29     other
19       0   27     black
..     ...  ...       ...
445      0   25     black
446      0   31  hispanic
450      0   39     white
451      0   59     black
452      0   45     white

[133 rows x 3 columns]

In [96]:
dataset_t1 = dataset1.loc[(dataset1['treat'] == 1) & (dataset1['age']) &(dataset1['racegrp']),['treat','age','racegrp']] 
dataset_t1

     treat  age   racegrp
0        1   37     black
1        1   37     white
5        1   47     black
9        1   39     white
18       1   27     white
..     ...  ...       ...
439      1   39     white
442      1   37  hispanic
443      1   33  hispanic
448      1   33     white
449      1   49     white

[124 rows x 3 columns]

나이 비교 평균으로/ 중앙값/

In [97]:
dataset_t0['age'].mean()

36.96992481203007

In [98]:
dataset_t1['age'].mean()

36.064516129032256

In [99]:
dataset_t0['age'].median()

35.0

In [100]:
#정규화 1 . 가우시안 분포 , 2 .분모는 데이터의 최댓값과 최솟값의 차로 분자는 데이터에서 최솟값을 뺀 값으로.
min_x = dataset_t0.age-dataset_t0.age.min()
min_max =dataset_t0.age.max()-dataset_t0.age.min() 
dataset_t0.age= min_x/min_max

In [86]:
dataset_t0["racegrp"] = dataset_t0["racegrp"].apply(lambda x: 1 if x == "black" else 2)

3      0.473684
6      0.736842
16     0.368421
17     0.210526
19     0.157895
         ...
445    0.105263
446    0.263158
450    0.473684
451    1.000000
452    0.631579
Name: age, Length: 133, dtype: float64

In [88]:
# mapping 을 이용해서 안종 구분
race_mapping= {'black':1,'white':2,'hispanic':3,'other':4} 
dataset_t0 = dataset_t0['racegrp'].map(race_mapping)
dataset_t1 = dataset_t1['racegrp'].map(race_mapping)

In [91]:
dataset_t0

3      2
6      1
16     1
17     4
19     1
      ..
445    1
446    3
450    2
451    1
452    2
Name: racegrp, Length: 133, dtype: int64

In [39]:
data = {'key1':['a','b' ,'c' ,'d','c'],
        'key2':['a','b' ,'c' ,'z','z'],
       'col':[1,2,3,4,5]}

In [40]:
dft = pd.DataFrame(data,columns=['key1','key2','col'])
dft

  key1 key2  col
0    a    a    1
1    b    b    2
2    c    c    3
3    d    z    4
4    c    z    5

In [42]:
dft.duplicated(['key1'])

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [46]:
duplicatedatadf=dft[dft['key1'].duplicated()]
duplicatedatadf

  key1 key2  col
4    c    z    5

In [47]:
dft

  key1 key2  col
0    a    a    1
1    b    b    2
2    c    c    3
3    d    z    4
4    c    z    5